<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
<h2>Информация о пользователе</h2>
<br>
<form th:action="@{/admin/saveUser}" th:object="${user}" method="post">
    <br>
    <label th:for="name">Имя</label>
    <input type="text" name="name" th:id="name" th:value="${user.getName()}">
    <br>
    <label th:for="surname">Фамилия</label>
    <input type="text" name="surname" th:id="surname" th:value="${user.getSurname()}">
    <br>
    <label th:for="age">Возраст</label>
    <input type="text" name="age" th:id="age" th:value="${user.getAge()}">
    <br>
    <label th:for="email">Email</label>
    <input type="text" name="email" th:id="email" th:value="${user.getEmail()}">
    <br>
    <label th:for="password">Пароль</label>
    <input type="text" name="password" th:id="password" th:value="${user.getPassword()}">
    <br>
    <input type="hidden" name="id" th:id="id" th:value="${user.getId()}">
    <br>

    Roles:
    <th:block th:each="role: ${listRoles}">
        <label>
            <input type="checkbox" th:field="*{roles}"
                   th:text="${role.name}" th:value="${role.id}"/>
        </label>
    </th:block>
    <br>
    <br>
    <button type="submit">Сохранить</button>
</form>
<br>
<button><a href="/admin">Назад</a></button>
</body>
</html>